/* this is a css comment */

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #ccc6ba;
}

/* change the color of the text */
.site-tilte {
    color: #252422; 
}

/*Apply box-shadow */
#my-image {
    box-sizing: 0 0 2px 1px black; 
}

/* Use squares instead of bullets */
ul {
    list-style-type: square;
}

