/* this is a css comment */

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #ffc252;
}
img {
    width: 300px;
}
/* Change the color of the text */
.site-title {
    color: #3d407d; 
}

/* Apply box-shadow with specified parameters */
#my-image {
    box-shadow: 0px 1px 1px #ffffff; 
}

/* Use squares instead of bullets */
ul {
    list-style-type: square;
}

/* apply background to odd list items */
ul.Hobbies li:nth-child(odd) {
    background-color: #f4f1de;
}

nav a, h3 {
    color: #f4f1de;
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Make links block level to occupy full width */
    padding: 10px; /* Add padding to links */
    margin-bottom: 5px; /* Add margin between links */
    background-color: #3d407d; /* Default background color */
    border: 2px solid #e06f60; /* Add border to links */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

nav a, h3:hover,
nav a, h3:focus {
    background-color: #e06f60; /* Change background color on hover */
}