body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

p {
    line-height: 30px;
    font-size: 17px;

}

.container {    
    max-width: 1200px;
    margin: 0 auto;  
}

header {
    position: relative;
    background-color: #cae0de;
 }

img {
    width: 100%;
    padding: 0;
}

.articleimg {
    padding: 2px 5px 2px; 
}

.font-text {
    position: absolute;
    width: 100%;
    font-weight: bold;
    bottom:  20% ;
    text-align: center;
 }

h1 {
    color: #ffffff;
    font-size: 48px;
}

/* Display and box-sizing */

nav ul li {
    display: inline-block;
    text-align: center;
    width: 32%;   
    box-sizing: border-box;
    margin: 0 auto;
    color: #000000;
    padding: 1em;

 }
nav ul {
    text-decoration: none;
    display: block;
    margin-bottom: 1px; /* Add margin between links */
    margin: 0 auto;
    background-color: #cae0de;
}



/* trying to mimic the line between navigation */
.homeline {
    box-shadow: 1px 0px 0px #000000;
}
.storyline {
    box-shadow: 1px 0px 0px #000000;
}

 /* CSS for Article */
.article {
    position: relative;
    padding: 10px;
    background-color: #cae0de;
 }
.article img {
    width: 300px;
    float: left;
    margin-right: 15px;
    background-color: #cae0de;
 }

 /* CSS foe Packge list */
.options {
    position: relative;
    padding: 5px;
    background-color: #cae0de;
    line-height: 20px;
    text-align: left;
}

h3 {
    font-size: 22px;
}

.form {
    position: relative;
    padding: 5px;
    background-color: #cae0de;
}
input[type="text"] {
    width: 99%;
}
textarea {
    width: 99%;
    height: 60px;
}

/* Footer container */
.footer {
    position: relative;
    padding: 5px;
    background-color: #cae0de; 
    line-height: 80px;
}

.footerinfo {
    text-align: right;
    margin-right: 2%;
    color: #000000;
}

fieldset {
    background-color: #cae0de;
}