

body { 
    background-color: #212121;
}

.container {    
    max-width: 1200px;
    margin: 0 auto;  
}

header {
    position: relative;
    background-color: #ffffff;
    padding: 0;  
 }
img {
    width: 100%;
}
.font-text {
    position: absolute;
    width: 100%;
    font-weight: bold;
    top: 55%;
    text-align: center;
 }

h1 {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
}

/* Display and box-sizing */

nav ul li {
    display: inline-block;
    text-align: center;
    width: 32%;   
    box-sizing: border-box;
 }
nav ul a {
    text-decoration: none; /* Remove underline from links */
    display: block;
    margin-bottom: 50px; /* Add margin between links */
    color: #ffffff;
    background-color: #000000;
    padding: 1em;
    margin: 0 auto;
}

nav ul a:hover {
    color: #ffd700;
}

 /* CSS for Article */
.article {
    position: relative;
    padding: 10px;
    background-color: #ffffff;
 }
.article img {
    width: 300px;
    float: left;
    margin-right: 15px;
    background-color: #ffffff;
 }
.options {
    position: relative;
    padding: 5px;
    background-color: #ffffff;
}
.form {
    position: relative;
    padding: 10px;
    background-color: #ffffff;
}
footer {
    position: relative;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
}

fieldset {
    background-color: #c4c4c4;
}