/* genaral font styles */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

img {
    width: 100%;
    padding: 0;
}

/* moblie */
/* nav menu seesion */
.nav-block img{
    width: 100px;
    padding: 10px 0 30px;
    margin: 0 auto;
}
.nav-block {
    background-color: #c78c06;
    width: 96.5%;
}

.menu {
    padding: 0; /* matching img container size*/
    margin: 0 auto; /* combine img background color to home background color */
}

.menu li:nth-child(1) {
    background-color: #c78c06; /* hight only the home in the <li> */
    padding: 10px;
    width: 96.5%;
}

ul a {
    text-decoration: none; /* remove underline of the session nav*/
    color: #c78c06;
}

.home {
    padding: 10px;
    margin: 0 auto;
    color: #222;
}

.menu li {
    list-style-type: none; /* remove the li dots */
    text-align: center;
    color: #c78c06;
    box-sizing: border-box;
    padding: 10px;
    width: 96.5%;
 }

.search-bar {
    position: relative;
}

input[type="search"] {
    padding: 5px;
    margin: 0 auto;
    width: 93%;
}

/* add button background color and border & icon color */
button[type="submit"] {
    position: absolute;
    padding: 6px 6px;
    background-color: #222;
    color: #c78c06;
    border: 1px solid #c78c06;
}

.container { 
    max-width: 1200px; /* The maximum width of the container 1200px */
    width: 100%;
    margin: 1px ;
    padding: 1rem;
    background-color: #222;
}


/* Welcome to Three Star Media home-session */
.home-container {
    background-image: url('../images/main-banner.jpg');
    background-size: cover;
    max-width: 1200px; /* The maximum width of 1200px */
    margin: 0 auto;
    padding: 80px 0 80px;
}

h1 {
    font-size: 70px;
    padding: 0.5rem;
}

p {
    padding: 0 1rem 0;
}

.warpper {
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}


.connect {
    background-color: #c78c06;
    border: none;
    padding: 10px 0 10px;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    font-size: 20px;
}

.fa-caret-right {
    padding: 10px;
}

/* About us session */
.field-about {
    background-color: #ffebac;
    padding: 0.2rem;
}

.img-block img {
    width: 96%;
    padding: 0.8rem;
}

h2 {
    font-size: 50px;
    padding: 0 0.5rem 0;
}

/* services block */
.field-services {
    background-color: #ffebac;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    padding: 0 1rem 0;
 }

button[type="button"] {
    background-color: #222;
    border: none;
    margin: 15px;
    padding: 1.5rem;
    font-size: 20px;
    color: #fff;
 }

 /* Our Vision block */
.vision {
    background-image: url('../images/vision.jpg');
    background-size: cover;
    width: 100%;
    padding: 10px 5px 5px;
}

.ovision {
    color: #fff;
}

.pvison {
    color: #fff;
}

/* Our team */
.field-team {
    background-color: #ffebac;
    padding-bottom: 20px;
}

hr {
    color: #c78c06;
    width: 95%;
    margin: 0 auto;
}

/* Contact Us */
input[type="text"] {
    width: 99%;
    height: 25px;
    border: #222 solid 0.5px;
}

input[type="email"] {
    width: 99%;
    height: 25px;
    border: #222 solid 0.5px;
}

textarea {
    width: 99%;
    height: 150px;
}

input[type="submit"] {
    background-color: #222;
    color: #c78c06;
    font-size: 20px;
    border: none;
}

/* Hours of Operation */

/* footer */
footer {
    background-color: #222;
    color: #c78c06;
    padding: 1rem 0 1rem;
}

/* Add a min-width media query for the screen size of 760px and above for desktop*/
@media (min-width: 760px) {
    .container {
        padding: 40px;
    }
    .menu li {
        display: inline-block;
    }
    .container {
        display: flex;
    }
}

